---
layout: default
---
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <div align="center">
                <p><img src="assets/img/Logo Gastar Pouco Azul.jpg" width="324" height="122" /><br />
                    <span class="style5">SAIBA ONDE TEM O MELHOR PRE&Ccedil;O ANTES DE COMPRAR</span>
                </p>
                <form id="gastarpouco" name="gastarpouco" method="post" action="busca.asp">
                    <p align="center">
                        <input name="textfield" type="text" size="50" maxlength="50" />
                        <br />
                        <input type="submit" name="Submit" value="Pesquisa GastarPouco" />
                    </p>
                </form>
                </p>
                <p><span class="style12">S&oacute; na <strong>Gastar Pouco</strong> voc&ecirc; encontra Lojas com o Menor Pre&ccedil;o da Internet,</span> <span class="style7"><em>comprando hoje</em> !!</span><a href="file:///D|/RMB/GastarPouco.com/index.asp"></a></p>
                <p><span class="style7"><em>Comprando Amanh&atilde;</em>,</span> <span class="style12">volte ao site</span> <span class="style14">GastarPouco.com </span></p>
                <p>
                    <!-- begin PixelTrafficWatcher.com code -->
                    <img src="assets/img/Carrinho de Compras vazio.JPG" alt="Carrinho Vazio" width="122" height="36" longdesc="http://www.gastarpouco.com.br" /></strong> <span class="style12">N&Uacute;MERO DE COMPRADORES HOJE >>><!-- begin PixelTrafficWatcher.com code -->
                    <!-- Histats.com  START  --> 
                    <script  type="text/javascript" language="javascript"> 
                        var s_sid = 94097;var st_dominio = 4; 
                        var cimg = 133;var cwi =112;var che =33; 
                    </script> 
                    <script  type="text/javascript" language="javascript" src="http://s10.histats.com/js9.js"></script> 
                <noscript><a href="http://www.histats.com/es/" target="_blank"> 
                    <img  src="http://s4.histats.com/stats/0.gif?94097&1" alt="contador javascript" border="0"></a>
                </noscript>
                <p>
                    PRODUTOS COMPRADOS AGORA  
                    <!--#include file="rnd.asp"--> 
                    <img src="assets/img/Carrinho de Compra cheio.JPG" alt="Carrinho Cheio" width="127" height="41" longdesc="http://www.gastarpouco.com.br" />
                </p>
                <p>&nbsp;</p>
                <p>
                </p>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="33%" valign="top">{% include coluna1.htm %}</td>
                    <td width="34%" valign="top">{% include coluna2.htm %}</td>
                    <td width="33%" valign="top">{% include coluna3.htm %}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>{% include rodape.htm %}</td>
    </tr>
    <tr></tr>
    <tr>
        <td>
            <div align="center">
                <span class="style1">
                    &copy; <script>document.write(new Date().getFullYear());</script> | GastarPouco.com | <a href="mailto:contato@gastarpouco.com">contato@gastarpouco.com</a>
                </span>
            </div>
        </td>
    </tr>
</table>