<table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td>
            <div style="margin-bottom: 30px;">
                <a href="mailto:eng.ruibarbosa@gmail.com"><img src="assets/img/autovistoria.png" alt="Autovistoria"></a>
            </div>

            <a href="http://www.idevaffiliate.com/31640/idevaffiliate.php?id=145_11_1_78" target="_blank"><img border="0" src="http://www.idevaffiliate.com/31640/banners/20121206-pullmantur_300x250.gif" width="300" height="250" alt="Logitravel.com.br - Cruzeiros"></a>
            <p>&nbsp;</p>
            <div align="center">
                <p><a href="http://www.projetosgratis.com.br" title="PROJETOS GRÁTIS"><img src="assets/img/16pequeno.gif" width="180" height="60"></a></p>
                <p>&nbsp;  </p>
            </div>
            <a href="http://www.projetosgratis.com.br" title="PROJETOS GRÁTIS"></a>
            <!-- LOMADEE - BEGIN -->
            <div style="width:300px;height:250px;overflow:hidden;">
                <script type="text/javascript" language="javascript" >lmd_source="23849183";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
                <a href="http://www.lomadee.com/" style="font-size:10px;">
                    <div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div>
                </a>
            </div>
            <!-- LOMADEE - END -->
            <!-- LOMADEE - BEGIN -->
            <div style="width:300px;height:250px;overflow:hidden;">
                <script type="text/javascript" language="javascript" >lmd_source="23884836";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
                <a href="http://www.lomadee.com/" style="font-size:10px;">
                    <div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div>
                </a>
            </div>
            <!-- LOMADEE - END -->
            <!-- LOMADEE - BEGIN -->
            <div style="width:300px;height:250px;overflow:hidden;">
                <script type="text/javascript" language="javascript" >lmd_source="23884828";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
                <a href="http://www.lomadee.com/" style="font-size:10px;">
                    <div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div>
                </a>
            </div>
            <!-- LOMADEE - END -->	  
            <!-- LOMADEE - BEGIN -->
            <div style="width:300px;height:250px;overflow:hidden;">
                <script type="text/javascript" language="javascript" >lmd_source="23884737";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script>
                <a href="http://www.lomadee.com/" style="font-size:10px;">
                    <div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div>
                </a>
            </div>
            <!-- LOMADEE - END -->
            </div>
        </td>
    </tr>
</table>