

<style type="text/css">
<!--
.style1 {color: #FF0000}
.style3 {
	color: #0000FF;
	font-weight: bold;
}
.style4 {color: #0000FF}
-->
</style>
<title>http://www.gastarpouco.com/httpdocs/banner promocional.swf</title><table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td>
	
	  <div align="center">
	    <p>



<a href="http://www.idevaffiliate.com/31640/idevaffiliate.php?id=145_10_1_60" target="_blank"><img border="0" src="http://www.idevaffiliate.com/31640/banners/20121206-cruzeiros_300x250.gif" width="300" height="250" alt="Logitravel.com.br - Cruzeiros"></a>


<div style="width:300px;height:250px;overflow:hidden;"><script type="text/javascript" language="javascript" >lmd_source="23509897";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script><a href="http://www.lomadee.com/" style="font-size:10px;"><div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div></a></div><!-- LOMADEE - END -->



<!-- LOMADEE - BEGIN --><div style="width:200px;height:200px;overflow:hidden;"><script type="text/javascript" language="javascript" >lmd_source="9732383";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="200";lmd_he="200";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script><a href="http://www.lomadee.com/" style="font-size:10px;"><div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div></a></div><!-- LOMADEE - END -->


<!-- LOMADEE - BEGIN --><div style="width:300px;height:250px;overflow:hidden;"><script type="text/javascript" language="javascript" >lmd_source="23509890";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script><a href="http://www.lomadee.com/" style="font-size:10px;"><div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div></a></div><!-- LOMADEE - END -->
     
	      
<!-- LOMADEE - BEGIN --><div style="width:300px;height:250px;overflow:hidden;"><script type="text/javascript" language="javascript" >lmd_source="23884793";lmd_si="10696";lmd_pu="25845";lmd_c="BR";lmd_wi="300";lmd_he="250";</script><script src="http://image.lomadee.com/js/ad_lomadee.js" type="text/javascript" language="javascript"></script><a href="http://www.lomadee.com/" style="font-size:10px;"><div align="right">Lomadee, uma nova espécie na web. A maior plataforma de afiliados da América Latina.</div></a></div><!-- LOMADEE - END -->


<a href="file:///D|/RMB/GastarPouco.com/coluna2.html"></a>