<div align="center">
    <p align="center"><span class="style3">OS MAIS VENDIDOS NO &Uacute;LTIMO M&Ecirc;S </span></p>
    <p align="center"><span class="style1"><img src="assets/img/Mp3.JPG" alt="Mp3" width="90" height="47" longdesc="http://www.gastarpouco.com" /></span> <img src="assets/img/Celular.JPG" alt="Celular" width="56" height="90" longdesc="http://www.gastarpouco.com" /> <img src="assets/img/Cd Mp3.JPG" alt="Cd Mp3 carro" width="88" height="28" longdesc="http://www.gastarpouco.com" /> <img src="assets/img/Notbook.JPG" alt="Notebook" width="66" height="47" longdesc="http://www.gastarpouco.com" /><img src="assets/img/Camera.JPG" alt="Câmera" width="70" height="85" longdesc="http://www.gastarpouco.com" /></p>
    <p align="center">&nbsp;</p>
    </a></p>
    <p align="center">A Gastar Pouco atua  apenas como ve&iacute;culo de m&iacute;dia das lojas virtuais !!</p>
    <p align="center"><a href="http://www.marketingdebusca.com.br/pagerank/"><img src="http://www.marketingdebusca.com.br/imagens/pagerank-4.gif" alt="PageRank" width="51" height="20" border="0" /></a>
    <p align="center">&nbsp;</p>
    <!--************CODE GEOGLOBE************-->
    <script type="text/javascript" src="http://geoloc7.geovisite.com:82/private/geoglobe.js?compte=673224569487"></script>
    <p align="center"><a href="http://www.geovisite.com/zoom.php?compte=673224569487" target="_blank"></a>
</div>